@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:wght@400;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Mochiy Pop One", cursive;
}

.home,
.result {
  height: 100vh;
  width: 100vw;
  background: url("https://images.squarespace-cdn.com/content/v1/5af526957c932741bf200559/1605757594818-V22N3LKKRFG83AQ4NNRX/bg-shapes-test-flipped.png?format=2500w");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
